<header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Pagina de recetas e intercambio de ideas para cocinar</h1>

                        </div>
                    </div>
                </div>
            </div>
        </header>