{% extends 'base.html' %}
{% block cambio %}
{% load static %}
 <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Mi informacion personal</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <h5></h5>
                            <p class="font-weight-light mb-0"></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'assets/img/yo.jpg' %}" alt="..." />
                            <h5>Mateo Barreyra</h5>
                            <p class="font-weight-light mb-0">¡Hola! Soy Mateo Barreyra, un argentino de 22 años ,actualmente me encuentro incursionando en la carrera de Ingeniería en Sistemas. Motivado por el deseo de ampliar mis habilidades de programación, decidí aprender Python y el framework Django. Agradezco tu visita a esta página. ¡Bienvenido! </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">

                            <h5></h5>
                            <p class="font-weight-light mb-0"> </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}